.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

#image-wrapper > img {
    background-color: rgba(0, 0, 0, 0.199);
    width: 80px;
    height: 80px;
    border-radius: 10px;
}


.logout-action-wrapper {
    justify-self: flex-end;
    margin-left: auto;
}

#username {
    font-size: large;
    font-family: sans-serif;
}

.favourite-link {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.favourite-link * {
    color: black !important;
}