#search-page-main>.search-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
}

.search-bar * {
    border-radius: 20px !important;
}

.search-bar {
    width: 60%;
    position: absolute;
}

.account-panel-wrapper {
    width: 25%;
    position: absolute;
    right: 0px;
    margin-right: 20px;
    top: 0px;
    margin-top: 20px;
}

#poke-card-list-wrapper {
    margin-top: 10px;
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-list-scroller {
    margin-top: 10px;
    width: 60%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 20px;
    padding-bottom: 100px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

#search-hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.39);
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    user-select: none;
}

#filter-bar {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-filter-select option {
    font-size: 15pt;
}

.select {
    font-size: 15pt;
    width: 100px;
    padding: 2px;
    margin: 10px;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 15px !important;
    filter: grayscale();
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 8px;
    text-transform: uppercase;
    color: gray;
    font-size: 12pt;
}

.filter-btn {
    width: 100%;
    margin-top: 20px !important;
}

.filter-dialog-header {
    display: flex;
    flex-direction: row;
}

.filter-dialog-close {
    align-self: flex-end;
    margin-left: auto !important;
}

.progress-bar {
    width: 100%;
    margin-top: 15px;
}

.hint-title {
    margin: 0px;
}